
.container {
    margin: 0;
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: black;
  }
  

  .movie-details {
    display: flex;
    flex-direction: column;
    max-width: 600px; 
    height: auto; 
    padding: 20px;
    background-color: #f3eeee; 
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    font-family: 'Arial', sans-serif; 
    overflow: hidden; 
  }
  

  .all-details {
    display: grid;
    grid-template-columns: 1fr 1.5fr; 
    gap: 20px; 
    align-items: start; 
  }
  
  
  .movie-details h1 {
    font-size: 2.5rem; 
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center; 
  }
  
  .movie-details img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    object-fit: cover; 
    max-height: 350px; 
    margin-bottom: 20px; 
  }
  

  .movie-details p {
    font-size: 17px; 
    line-height: 1.6;
    margin-bottom: 10px;
    color: #555; 
  }
  
  .movie-details p strong {
    font-weight: bolder;
    color: #333; 
  }
  
  .movie-details button {
    background-color: red;
    color: #fff; 
    font-size: 1.2rem;
    padding: 12px 25px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    display: block;
    margin: 0px auto 0; 
    width: 100%; 
    text-align: center;
  }
  
  .movie-details button:hover {
    background-color: #e60000; 
  }
  
  .movie-details button:active {
    background-color: #b30000; 
  }
  
  @media (max-width: 375px) {
    .container{
        height: 140vh;
    }
    .movie-details {
      padding: 15px; 
    }
  
    .movie-details h1 {
      font-size: 2rem; 
    }
  
    .movie-details p {
      font-size: 1rem; 
    }
  
    .movie-details button {
      font-size: 1rem;
      padding: 10px 20px; 
    }
  
    .all-details {
      grid-template-columns: 1fr; 
    }
  }
  